[[extend 'layout.html']]

<style>
table td{border: none}
table .head:hover{background: white!important;}
table th{border: 1px solid #dbdbdb;}

table tr:hover>td .icon{color: #ff4050
}

</style>
<div class="container">
<table class="table is-hoverable is-fullwidth">
    <tr class="head">
        <th>File Record</th>
        <th>description</th>
        <th>Note</th>
        <th>Action</th>
    </tr>
    [[for file in data:]]
    <tr>
        <td> [[=file.file]]</td>
      <td>[[=file.description]]</td>
      <td>[[=file.note]]</td>
      <td>
        <span class="icon">
            <a href="[[=URL('index',vars=dict(xid=file.id))]]">
                <i class="fa fa-trash"></i>
            </a>
        </span>
      </td>
    </tr>
    [[pass]]
</table>
</div>
